<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新乡市公积金管理中心平台</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/css/stlye.css" tppabs="http://www.xxzfgjj.com/assets/css/stlye.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]>
<link href="../assets/css/ie8.css" tppabs="http://www.xxzfgjj.com/assets/css/ie8.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
    <div class="box">
        <div class="variouse">
            <div class="logo1">
                <img src="../assets/images/logo1.png" tppabs="http://www.xxzfgjj.com/assets/images/logo1.png" alt="#" /></img>
            </div>
        </div>
        <div class="variouse">
            <div class="b1">
            </div>
        </div>
    </div>
    <div class="center">
        <div class="b_01">
            <div class="c_left">
                <div class="c_b2">
                </div>
            </div>
            <div class="c_center">
                <div class="box">
                    <div class="c_b4">
                      
                        <div class="about">
                         
                        </div>
                        <div class="dlk">
                            <div class="login-body">
                                <div class="login-main pr">
<form action="http://www.xxzfgjj.com/gov_Manage/DoLogin" class="login-form" data-ajax="true" data-ajax-begin="formAjax.Begin" data-ajax-complete="formAjax.Complete" data-ajax-failure="formAjax.Failed" data-ajax-method="post" data-ajax-success="formAjax.Success" id="form1" method="post" role="form">                                        <div id="itemBox" class="item-box">
                                            <div class="item">
                                                <i class="icon-login-user"></i>
                                                <input autocomplete="off" data-val="true" data-val-required="请输入用户名" id="User_Account" name="User_Account" placeholder="请填写用户名" type="text" value="" />
                                            </div>
                                            <span class="placeholder_copy placeholder_un login">请填写用户名</span>
                                            <div class="item b0">
                                                <i class="icon-login-pwd"></i>
                                                <input autocomplete="off" data-val="true" data-val-required="请输入密码" id="User_Password" name="User_Password" placeholder="请填写密码" type="password" />
                                            </div>
                                            <span class="placeholder_copy placeholder_pwd login">请填写密码</span>
                                            <div class="item verifycode">
                                                <i class="icon-login-verifycode"></i>
                                                <input autocomplete="off" data-val="true" data-val-remote="验证码输入错误" data-val-remote-additionalfields="*.Validate_Code" data-val-remote-url="/Manage/CheckValidateCode" data-val-required="请输入验证码！" id="Validate_Code" name="Validate_Code" placeholder="请填写验证码" type="text" value="" />
                                                <a class="reloadverify" title="换一张" href="javascript:void(0)" onclick="$('#validateImage').attr('src',$('#validateImage').attr('src')+'?')">
                                                    换一张？</a>
                                            </div>
                                            <span class="placeholder_copy placeholder_check login">请填写验证码</span>
                                            <div>
                                                <img class="verifyimg reloadverify" alt="点击切换" id="validateImage" name="validateImage" onclick="this.src=this.src+'?'"
                                                    src="GetCode.gif" tppabs="http://www.xxzfgjj.com/gov_Manage/GetCode">
                                            </div>
                                        </div>
                                        <div class="login_btn_panel">
                                            <button class="login-btn">
                                                <i class="icon-ok  bigger-110 "></i>登录
                                            </button>
                                            <div class="check-tips"><span class="field-validation-valid" data-valmsg-for="User_Account" data-valmsg-replace="true"></span> <span class="field-validation-valid" data-valmsg-for="User_Password" data-valmsg-replace="true"></span>
                                                <span class="field-validation-valid" data-valmsg-for="Validate_Code" data-valmsg-replace="true"></span></div>
                                        </div>
</form>                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c_right">
                <div class="c_b3">
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="fotter">
           
                
        </div>
    </div>
    <script type="text/javascript">
        window.jQuery || document.write("<script type='text/javascript' src='../assets/js/jquery-2.0.3.min.js'/*tpa=http://www.xxzfgjj.com/assets/js/jquery-2.0.3.min.js*/>" + "<" + "/script>");
    </script>
    <!-- <![endif]-->
    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script type='text/javascript' src='../assets/js/jquery-1.10.2.min.js'/*tpa=http://www.xxzfgjj.com/assets/js/jquery-1.10.2.min.js*/>"+"<"+"/script>");
</script>
<![endif]-->
    <script type="text/javascript" src="../assets/js/bootstrap.min.js" tppabs="http://www.xxzfgjj.com/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/typeahead-bs2.min.js" tppabs="http://www.xxzfgjj.com/assets/js/typeahead-bs2.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.unobtrusive-ajax.js" tppabs="http://www.xxzfgjj.com/assets/js/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.validate.min.js" tppabs="http://www.xxzfgjj.com/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.validate.unobtrusive.js" tppabs="http://www.xxzfgjj.com/assets/js/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="../assets/js/artDialog-master/dist/dialog.js" tppabs="http://www.xxzfgjj.com/assets/js/artDialog-master/dist/dialog.js"></script>
    <script type="text/javascript" src="../assets/js/lcz-alert.js" tppabs="http://www.xxzfgjj.com/assets/js/lcz-alert.js"></script>
    <script type="text/javascript" src="../assets/js/lcz-ajaxsubmit.js" tppabs="http://www.xxzfgjj.com/assets/js/lcz-ajaxsubmit.js"></script>
    <script type="text/javascript" src="../assets/js/lcz-common.js" tppabs="http://www.xxzfgjj.com/assets/js/lcz-common.js"></script>
    <script type="text/javascript">
        var formAjax = lczajax({ validateCodeName: "validateImage", form: $("#form1"), successAlertOption: "登录成功", failedAlertOption: "登录失败！" });
    </script>
</body>
</html>
