<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看审批</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/elementui.css">
    <!-- 引入组件库 -->
    <script src="../js/elementui.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>
<div id="tableView">
    <!--列表-->
    <el-row>
        <el-table :data="tableData" v-loading.body="loading" border style="width: 100%">
            <el-table-column prop="ACCRADITATION_ID" label="编号" width="300"></el-table-column>
            <el-table-column prop="ACCRADITATION_NAME" label="工作流程名称" width="300"></el-table-column>
            <el-table-column prop="ACCRADITATION_DESCRIBE" label="工作流程描述" width="300"></el-table-column>
            <el-table-column prop="ACCRADITATION_FLUX" label="工作流量" width="300"></el-table-column>
            <el-table-column label="操作">
                    <template scope="scope">
                        <el-button  v-if="scope.row.ACCRADITATION_ID==1" :plain="true" type="success" size="small" icon="edit" @click="fcClick(scope.row)">查看</el-button>
                        <el-button  v-if="scope.row.ACCRADITATION_ID==2" :plain="true" type="success" size="small" icon="edit" @click="qfClick(scope.row)">查看</el-button>
                        <el-button  v-if="scope.row.ACCRADITATION_ID==3" :plain="true" type="success" size="small" icon="delete" @click="xhClick(scope.row)">查看</el-button>
                        <el-button  v-if="scope.row.ACCRADITATION_ID==4" :plain="true" type="success" size="small" icon="delete" @click="GClick2(scope.row)">查看</el-button>
                    </template>
            </el-table-column>
        </el-table>
    </el-row>
    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination style="float: right" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </el-col>
    </el-row>
    <!------------------------------------------人员转移审批-------------------------------------------------------------------------->
    <el-dialog title="人员转移审批" :visible.sync="ReditFormVisible" :close-on-click-modal="false">
        <el-row>
            <el-table :data="RtableData" v-loading.body="loading" border style="width: 100%">
                <el-table-column prop="TRANSFER_ID" label="编号" width="300"></el-table-column>
                <el-table-column prop="TRANSFER_OUT_UNIT" label="转出单位" width="300"></el-table-column>
                <el-table-column prop="TRANSFER_INTO_UNIT" label="转入单位" width="300"></el-table-column>
                <el-table-column prop="AUDITOR" label="转移申请人" width="300"></el-table-column>
                <el-table-column prop="PERSON_ACCOUNT" label="个人账户" width="300"></el-table-column>
                <el-table-column prop="TRANSFER_REASON" label="转移原因" width="300"></el-table-column>
                <el-table-column prop="OPERATOR" label="操作人" width="300"></el-table-column>
                <el-table-column prop="SUBMIT_TIME" label="转移提交时间" width="300"></el-table-column>
                <el-table-column prop="AUDIT_STATE" label="转移审核状态" width="300"></el-table-column>
            </el-table>
        </el-row>
        <!--列表底部工具条和分页符-->
        <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
                <el-pagination style="float: right" @size-change="RpageSizeChange" @current-change="RcurrentPageChange" :current-page="RcurrentPage" :page-sizes="[10, 20, 30, 50]" :page-size="RpageSize" layout="total, sizes, prev, pager, next, jumper" :total="Rtotal"></el-pagination>
            </el-col>
        </el-row>
    </el-dialog>
    <!----------------------------------------点击查看，出现封存、启封、销户审批-------------------------------------------------------------->
    <el-dialog title="封存、启封、销户审批" :visible.sync="FeditFormVisible" :close-on-click-modal="false">
        <el-row>
            <el-table :data="FtableData" v-loading.body="loading" border style="width: 100%">
                <el-table-column prop="UNSEAL_ID" label="编号" width="300"></el-table-column>
                <el-table-column prop="UNSEAL_NAME" label="封启人姓名" width="300"></el-table-column>
                <el-table-column prop="UNSEAL_UNIT" label="所在单位" width="300"></el-table-column>
                <el-table-column prop="UNSEAL_SEX" label="性别" width="300"></el-table-column>
                <el-table-column prop="UNIT_POST" label="工作职位" width="300"></el-table-column>
                <el-table-column prop="UNSEAL_NUMBER" label="身份证号" width="300"></el-table-column>
                <el-table-column prop="UNSEAL_ACCOUNT" label="个人封启账号" width="300"></el-table-column>
                <el-table-column prop="REASON" label="封启原因" width="300"></el-table-column>
                <el-table-column prop="OPERATOR" label="创建人" width="300"></el-table-column>
                <el-table-column prop="CREATE_TIME" label="创建日期" width="300"></el-table-column>
                <el-table-column prop="AUDIT_STATE" label="业务类型" width="300"></el-table-column>
                <el-table-column prop="AUDIT_NAME" label="审核状态" width="300"></el-table-column>
                <el-table-column prop="BOHUI" label="驳回理由" width="300"></el-table-column>
            </el-table>
        </el-row>
        <!--列表底部工具条和分页符-->
        <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
                <el-pagination style="float: right" @size-change="FpageSizeChange" @current-change="FcurrentPageChange" :current-page="FcurrentPage" :page-sizes="[10, 20, 30, 50]" :page-size="FpageSize" layout="total, sizes, prev, pager, next, jumper" :total="Ftotal"></el-pagination>
            </el-col>
        </el-row>
    </el-dialog>

</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '审批表'
        }
    });

    var tableView = new Vue({
        el: '#tableView',
        data: {
            //列表数据
            tableData: [],
            FtableData:[],
            RtableData:[],
            ReditFormVisible: false,
            FeditFormVisible: false,
            //显示加载中样式
            loading:false,
            //表单头部搜索
            searchForm: {
                name: ''
            },
            //当前页
            currentPage:1,
            //分页大小
            pageSize:5,
            //总记录数
            total:800,

            //当前页---封启销户
            FcurrentPage: 1,
            //分页大小
            FpageSize: 10,
            //总记录数
            Ftotal: 800,

            //当前页---人员转移
            RcurrentPage: 1,
            //分页大小
            RpageSize: 10,
            //总记录数
            Rtotal: 800,

            editLoading: false,
            goUrl:'',
            editFormRules: {
                name: [
                    { required: true, message: '请输入姓名', trigger: 'blur' }
                ]
            }
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            //查看审批页面
            var self = this;
            axios.post('/exam/page',{'pageNo':this.currentPage,'pageSize':this.pageSize}).then(function(response){
                self.total=response.data.total;
                self.tableData = response.data.pageData;
            }),
            //封存，启封页面
             axios.post('/exam/breaka',{'pageNo':this.FcurrentPage,'pageSize':this.FpageSize}).then(function(response){
                 self.Ftotal=response.data.total;
                 self.FtableData = response.data.pageData;
             })
            //人员转移页面
            axios.post('/exam/trans',{'pageNo':this.FcurrentPage,'pageSize':this.FpageSize}).then(function(response){
                self.Rtotal=response.data.total;
                self.RtableData = response.data.pageData;
            })
        },
        methods:{
            //刷新
            toFlush:function(){
                this.searchForm= {
                    name: ''
                }
                this.loadingData();
            },
            //点击查看弹出封存启封页面
            qfClick:function(row) {
                var _self=this;
                _self.FeditFormVisible = true;
            },
            fcClick:function(row) {
             var _self=this;
             _self.ReditFormVisible = true;
             },
            //查看审批表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var searchForm={'pageNo':this.currentPage,'pageSize':this.pageSize};
                axios.post('/exam/page',searchForm).then(function(response){
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageData;
                }),
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //表格重新加载数据
            FloadingData:function() {
                var _self = this;
                _self.loading = true;
                //封存，启封页面
                var searchForm1={'pageNo':this.FcurrentPage,'pageSize':this.FpageSize};
                axios.post('/exam/breaka',searchForm1).then(function(response){
                    _self.Ftotal=response.data.total;
                    _self.FtableData= response.data.pageData;
                })
                console.log(_self.FcurrentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);

            },
            //表格重新加载数据
            RloadingData:function() {
                var _self = this;
                _self.loading = true;
                //封存，启封页面
                var searchForm2={'pageNo':this.FcurrentPage,'pageSize':this.FpageSize};
                axios.post('/exam/trans',searchForm2).then(function(response){
                    _self.Rtotal=response.data.total;
                    _self.RtableData= response.data.pageData;
                })
                console.log(_self.RcurrentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);

            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },

            //封，启，销户分页大小修改事件
            FpageSizeChange: function (val) {
                console.log('每页 ' + val + ' 条');
                this.FpageSize = val;
                var _self = this;
                _self.FloadingData();//重新加载数据
            },
            //封，启，销户当前页修改事件
            FcurrentPageChange: function (val) {
                this.FcurrentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.FloadingData();//重新加载数据
            },

            //人员转移分页大小修改事件
            FpageSizeChange: function (val) {
                console.log('每页 ' + val + ' 条');
                this.FpageSize = val;
                var _self = this;
                _self.RloadingData();//重新加载数据
            },
            //人员转移当前页修改事件
            FcurrentPageChange: function (val) {
                this.FcurrentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.RloadingData();//重新加载数据
            }
        }
    })
</script>
</body>
</html>