<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员转移页面</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<!--<div id="app">
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
        <el-form-item label="转出单位名称">
            <el-input v-model="formInline.user" placeholder=" "></el-input>
        </el-form-item>
        <el-form-item label="转出受托银行名称">
            <el-input v-model="formInline.user" placeholder=" "></el-input>
        </el-form-item>
        <el-form-item label="转入单位名称">
            <el-select v-model="formInline.region" placeholder="活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item><br/>
        <el-form-item label="转出受托银行名称">
               <el-input v-model="formInline.user" placeholder=" "></el-input>
        </el-form-item>
            <el-form-item label="会计凭证日期">
                <el-input v-model="formInline.user" placeholder=" "></el-input>
            </el-form-item>
            <el-form-item label="转移原因">
                <el-input v-model="formInline.user" placeholder=" "></el-input>
            </el-form-item><br/>

            <el-button type="primary" @click="onSubmit">提交审核</el-button>
        </el-form-item>
    </el-form>
</div>-->
<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="用户名">
                <el-input v-model="searchForm.name" placeholder="用户名"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>

        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="PNAME"
                    label="姓名"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="IDNUMBER"
                    label="证件号"
                    width="150">
            </el-table-column>

            <el-table-column
                    prop="DALANCE"
                    label="个人账号余额"
                    width="120">
            </el-table-column>

            <el-table-column
                    prop="PERACCSTATE"
                    label="个人账号状态"
                    width="120">
            </el-table-column>
        </el-table>

    </el-row>
    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[5,10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

</div>
   <script type="text/javascript">
      /* var Main = {
           data() {
               return {
                   formInline: {
                       user: '',
                       region: ''
                   }
               }
           },
           methods: {
               onSubmit() {
                   console.log('submit!');
               }
           }
       }
       var Ctor = Vue.extend(Main)
       new Ctor().$mount('#app')*/
      var app = new Vue({
          el: '#app',
          data: {
              message: '全部人员列表'
          }
      });

      var tableView = new Vue({
          el: '#tableView',
          data: {
              //列表数据
              tableData: [],
              //显示加载中样式
              loading:false,
              //搜索表单
              searchForm: {
                  name: ''
              },
              //当前页
              currentPage:1,
              //分页大小,在这里修改分页数量
              pageSize:5,
              //总记录数
              total:800
              },
          created:function(){
              //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
              var self = this;
              axios.post('/person/page',{'pageNo':this.currentPage,'pageSize':this.pageSize}).then(function(response){
                  console.log(response.data);
                  //alert(response.data.total);
                  self.total=response.data.total;
                  self.tableData = response.data.pageData;
                  alert(JSON.stringify(response.data.pageData));

              })
          },
          methods:{
              //刷新
              toFlush:function(){
                  this.searchForm= {
                      name: ''
                  }
                  this.loadingData();
              },
              //表格重新加载数据
              loadingData:function() {
                  var _self = this;
                  _self.loading = true;
                  var self = this;
                  var searchForm={'pageNo':this.currentPage,'pageSize':this.pageSize,'pname':this.searchForm.name};
                  //   alert(JSON.stringify(searchForm));
                  axios.post('/person/page',searchForm).then(function(response){
                      _self.total=response.data.total;
                      _self.tableData = response.data.pageData;
                  })
                  console.log(_self.currentPage);
                  setTimeout(function(){
                      console.info("加载数据成功");
                      _self.loading = false;
                  },300);
              },
              //分页大小修改事件
              pageSizeChange:function(val) {
                  console.log('每页 ' + val +' 条');
                  this.pageSize = val;
                  var _self = this;
                  _self.loadingData();//重新加载数据
              },
              //当前页修改事件
              currentPageChange:function(val) {
                  this.currentPage = val;
                  console.log('当前页: ' + val);
                  var _self = this;
                  _self.loadingData();//重新加载数据
              },
              //保存点击事件
              editSubmit:function(){
                  var _self = this;
                  _self.loading = true;
                  var formData =this.editForm;
                  //alert(formData);
                  var goUrl=this.goUrl;
                  //alert(goUrl);
                  //alert(JSON.stringify(formData));
                  axios.post(goUrl,formData).then(function(response){
                      // console.log(response.data);
                      // alert(222);
                      // self.total=response.data.total;
                      if(response.data>0){
                          _self.editFormVisible = false;
                      }else{
                          _self.$message({
                              message:'操作失败',
                              type: 'error'
                          });
                      }
                      _self.loadingData();//重新加载数据
                  })
                  console.info(this.editForm);
              }
          }

      })
   </script>
</body>
</html>