<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贷款信息</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/elementui.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!-- 引入组件库 -->
    <script src="../js/elementui.js"></script>
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
</head>
<body>
<div id="app">
    <center>
    <div>
        <span style="color: black;font-size: x-large;">已派负责人对逾期未还人员进行催款。。。。。。</span>
    </div>
    </center>

    <center>
        <div>
<!--
            //<el-button  style="margin-top: 12px;"  type="primary" @click.native="onSubmit()"  >返回</el-button>
-->
        </div>
    </center>
</div>

<script type="text/javascript">

    var vm=new Vue({
        el:"#app",
        data:{
            active:1,
            formData:[],




            onSubmit:function () {
                var _self = this;
                var goUrl="/loan/toUser";
                axios.post(goUrl,this.formData).then(function(response){

                        if(response.data!=3306){
                            location.href="/loan/cuikuan";
                            _self.$message({
                                message:  '操作成功',
                                type: 'success'
                            });
                        }else{
                            _self.$message({
                                message:  '操作失败',
                                type: 'error'
                            });
                        }
                    })
                },


        }
    }

    )

</script>
</body>
</html>